[Unit]
Description=Python script conversion service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /etc/python-convert.py
StartLimitInterval=10s
StartLimitBurst=5


[Install]
WantedBy=multi-user.target

